<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Webshop</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" />
  <link rel="stylesheet" href="/css/header-footer.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="./images/logo-no-background.ico" type="image/x-icon">
</head>
<body>

<header>
  <nav class="navbar">
    <a href="/"> <img class="logo" src="./images/svg/logo-no-background.svg" height="200" width="200" alt=""> </a>

    <div class="search-input-wrapper">
      <input type="text" class="input-search" placeholder="Was suchen Sie?" id="search-input">
      <i class="fa-solid fa-magnifying-glass search-icon"></i>
    </div>

    <div class="nav-menu">
      <a href="./html/login.html" class="user-link">
        <i class="fas fa-user"></i>
      </a>

      <a href="./html/cart.html" class="cart-link">
        <i class="fa-solid fa-cart-shopping"></i>
      </a>

      <a href="./html/wishlist.html" class="wishlist-link">
        <i class="fas fa-heart"></i>
      </a>

      <a href="./html/wishlist.html" class="wishlist-link">
        <i class="fas fa-clock-rotate-left"></i>
      </a>
    </div>

  <div class="login">
    <a href="/login" class="login-link">
      Login
    </a>
  </div>

  </nav>
</header>
<div class="filters-wrapper">
  <div class="filters">
  </div>
</div>

<div class="active-filters">

</div>

<main>
  <section>
    <h2>Unsere Produkte</h2>
    <ul id="product-list" class="product-list">
      <li>Produkte werden geladen...</li>
    </ul>
    <div id="pagination"></div>
    <div class="pages-list">
      <i class="fa-solid fa-arrow-left" id="prev-page" style="margin: 0.5rem"></i>
      <span id="page-number" style="margin: 0.5rem"></span>
      von
      <span id="max-pages" style="margin: 0.5rem"></span>
      <i class="fa-solid fa-arrow-right" id="next-page"></i>
    </div>
  </section>
</main>

<div id="app"></div>

<footer>
  <p>&copy; 2025 Unser Webshop</p>
</footer>
<script src="/js/index.js"></script>
</body>
</html>