<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <title>Webshop</title>

  <link rel="stylesheet" href="/css/header-footer.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="icon" href="./images/logo-no-background.ico" type="image/x-icon">
</head>
<body>

<div id="header"></div>

<div class="filters-wrapper">
  <div class="filters"></div>
</div>

<div class="active-filters"></div>

<main>
  <section>
    <h2>Unsere Produkte</h2>
    <ul id="product-list" class="product-list">
      <li>Produkte werden geladen...</li>
    </ul>
    <div id="pagination"></div>
    <div class="pages-list">
      <i class="fa-solid fa-arrow-left" id="prev-page" style="margin: 0.5rem"></i>
      <span id="page-number" style="margin: 0.5rem"></span>
      von
      <span id="max-pages" style="margin: 0.5rem"></span>
      <i class="fa-solid fa-arrow-right" id="next-page"></i>
    </div>
  </section>
</main>

<div id="app"></div>

<div id="footer"></div>

<script src="/js/index.js"></script>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    async function loadFragment(id, url, scriptUrl) {
      const res = await fetch(url);
      if (res.ok) {
        document.getElementById(id).innerHTML = await res.text();
        if (scriptUrl) {
          const script = document.createElement('script');
          script.src = scriptUrl;
          script.defer = true;
          document.body.appendChild(script);
        }
      }
    }
    loadFragment('header', '/header-footer/header.html', '/js/header.js');
    loadFragment('footer', '/header-footer/footer.html');
  });
</script>
</body>
</html>