<!-- product_page.html -->
<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/env.js"></script>
  <meta charset="UTF-8" />
  <title>Produktdetails</title>
  <link rel="icon" href="/images/logo-svg.svg" type="image/x-icon" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
  <script type="module" src="/js/product.js" defer></script>
  <link rel="stylesheet" href="/css/product.css" />
  <link rel="stylesheet" href="/css/wishlist-selection.css" type="text/css">

</head>

<body>
  <div id="header"></div>
  <main>
    <button onclick="history.back()" class="back-button">← Back</button>

    <div id="product-page-wrapper" class="product-page-wrapper">
      <div id="product-container" class="container">

        <img src="" alt="" id="product-image" class="product-image">

        <div id="picture-index-dots" class="picture-index-dots"></div>
        
        <div id="below-images-wrapper" class="below-images-wrapper">
          <div id="add-to-wishlist">
            <i class="fa-regular fa-heart"></i>
          </div>

          <div id="arrow-wrapper" class="arrow-wrapper">
            <div id="picture-left" class="arrow">
              <i class="fa-solid fa-arrow-left"></i>
            </div>
            <div id="picture-right" class="arrow">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
        </div>

        <div id="price-title-wrapper" class="price-title-wrapper">
          <p id="price" class="price"></p>
          <h1 id="title" class="title"></h1>
        </div>

        <div id="seller-container" class="seller-container">
          <div id="seller" class="seller"></div>
        </div>


        <p class="availability-info" id="low-availibility-info" hidden>Only 1 more available.</p>
        <div id="amount-buy-wrapper" class="amount-buy-wrapper">
          <div id="amount-wrapper" class="arrow-wrapper" style="display: flex; align-items: center; gap: 10px;">
            <div id="amount-less" class="arrow" style="cursor: pointer; user-select: none;">
              <i class="fa-solid fa-arrow-left"></i>
            </div>
            <input id="amount" class="amount" type="number" value="1" min="1" min="1">
            <div id="amount-more" class="arrow" style="cursor: pointer; user-select: none;">
              <i class="fa-solid fa-arrow-right"></i>
            </div>
          </div>
          <button type="button" id="cart-button" class="button">Put in Cart</button>
        </div>

        <p id="product-description" class="product-description"></p>

      </div>

      <div id="other-products-wrapper" class="container">
        <h2 id="other-products-title" class="other-products-title">Other Products you might like</h2>
        <div id="product-list-container" class="product-list-container">
          <ul id="product-list" class="product-list">

          </ul>
        </div>
      </div>

      <div id="reviews-container" class="container">
        <div id="review-top" class="review-top">
          <h2 id="review-title">Reviews</h2>
          <div class="stars" id="stars">

          </div>
        </div>
        <p id="review-server-error" class="input-error-message" hidden>Server-Error</p>
        <p id="review-conflict-error" class="input-error-message" hidden>You already uploaded a review to this product.</p>
        <form class="new-review-form" id="new-review-form" novalidate>
          <p id="comment-error" class="input-error-message" hidden>Add Comment!</p>
          <textarea id="review-input" class="review-input" rows="1" placeholder="Your Review..."></textarea>
          <p id="rating-error" class="input-error-message" hidden>Add Rating!</p>
          <div class="rating-submit-wrapper">
              <input type="number" id="review-rating" class="review-rating" placeholder="Rating">
              <input type="submit" class="button submit-review-button" id="review-button" value="Post Review">
          </div>
        </form>
        <ul id="review-list" class="review-list"></ul>
      </div>
    </div>
  </main>

  <div id="footer"></div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      async function loadFragment(id, url, scriptUrl) {
        const res = await fetch(url);
        if (res.ok) {
          document.getElementById(id).innerHTML = await res.text();
          if (scriptUrl) {
            const script = document.createElement('script');
            script.src = scriptUrl;
            script.defer = true;
            document.body.appendChild(script);
          }
        }
      }
      loadFragment('header', '/header-footer/header.html', '/js/header.js');
      loadFragment('footer', '/header-footer/footer.html');
    });
  </script>
</body>

</html>