<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
    <link rel="stylesheet" href="/frontend/public/css/style.css" type="text/css">
    <link rel="stylesheet" href="/frontend/public/css/auth.css" type="text/css">
</head>
<body>
    <main>
        <div class="card-container" id="forgot-password-contaier">
            <h1 class="auth-title">Reset Password</h1>
            <form action="/send-form" class="auth-form">
                <label for="username-email" hidden>Username/ E-Mail</label>
                <input type="text" placeholder="Username/ E-Mail" name="username-email" id="username-email" class="auth-input" required>
                
                <input type="submit" class="auth-button first-button" value="Request E-Mail to reset Password">
            </form>
            
        </div>
    </main>
</body>
<footer id="footer-container">

</footer>
    <script src="footer.js"></script>

</html>