<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/env.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Resent Verification</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/auth.css" type="text/css">
    <script src="/js/auth_util.js" defer></script>
    <script src="/js/resent-verification.js" defer></script>
</head>
<body>
    <div id="header"></div>
    <main>
        <div class="card-container auth-container" id="resent-verification-contaier">
            <h1 class="auth-title">Resent Verification</h1>
            <div class="auth-error" id="reset-error">Username/E-Mail or password is wrong.</div>
                    <div class="auth-success" id="resent-success">Verification E-Mail sent.</div>
            <form id="resent-verification-form" class="auth-form" novalidate>
                <p id="verification-email" class="email-info"></p>
                <div class="error-message" id="username-email-error"></div>
                
                <input type="submit" class="auth-button first-button" value="Resent Verification">
                <button class="auth-button second-button" id="back-to-login" type="button">To Login</button>
            </form>
            
        </div>
    </main>
    <div id="footer"></div>
    <script>
  document.addEventListener('DOMContentLoaded', () => {
    async function loadFragment(id, url, scriptUrl) {
      const res = await fetch(url);
      if (res.ok) {
        document.getElementById(id).innerHTML = await res.text();
        if (scriptUrl) {
          const script = document.createElement('script');
          script.src = scriptUrl;
          script.defer = true;
          document.body.appendChild(script);
        }
      }
    }

    loadFragment('header', '/header-footer/header.html', '/js/header.js');
    loadFragment('footer', '/header-footer/footer.html');
  });
</script>
</body>


</html>