<!DOCTYPE html>
<html lang="en">

<head>
    <script src="/env.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/auth.css" type="text/css">
    <script src="/js/auth_util.js" defer></script>
    <script src="/js/signup.js" defer></script>
</head>

<body>
    <div id="header"></div>
    <main>
        <div class="card-container auth-container" id="signup-container">
            <h1 class="auth-title">Sign up</h1>
            <form id="signup-form" class="auth-form" novalidate>
                <div id="form-page-one" class="auth-form">
                    <label for="username" hidden>Username</label>
                    <input type="text" placeholder="Username" id="username" name="username" class="auth-input" required>
                    <div class="error-message" id="username-error"></div>

                    <label for="email" hidden>E-Mail</label>
                    <input type="email" placeholder="E-Mail" id="email" name="email" class="auth-input" required>
                    <div class="error-message" id="email-error"></div>
                    <label for="repeat-email" hidden>Repeat E-Mail</label>
                    <input type="email" placeholder="Repeat E-Mail" id="repeat-email" name="repeat-email"
                        class="auth-input repeat-input" required>
                    <div class="error-message" id="repeat-email-error"></div>

                    <label for="password" hidden>Password</label>
                    <div class="password-wrapper auth-input" id="password-wrapper">
                        <input type="password" id="password" name="password" placeholder="Password"
                            class="password-input" required>
                        <button type="button" id="toggle-password" class="toggle-password-button">Show</button>
                    </div>
                    <div class="error-message" id="password-error"></div>
                    <label for="repeat-password" hidden>Repeat Password</label>
                    <div class="password-wrapper auth-input" id="repeat-password-wrapper">
                        <input type="password" placeholder="Repeat Password" id="repeat-password" name="repeat-password"
                            class="password-input repeat-input" required>
                        <button type="button" id="toggle-repeat-password" class="toggle-password-button">Show</button>
                    </div>
                    <div class="error-message" id="repeat-password-error"></div>

                    <p class="line-number"><span id="page">1</span>/2</p>

                    <button id="continue-button" type="button" class="auth-button first-button">Continue</button>
                    <button class="auth-button second-button" id="to-login">Already have an Account? Log in!</button>
                </div>
                <div id="form-page-two" class="auth-form">
                    <div class="auth-error" id="signup-error">Username/E-Mail or password is wrong.</div>
                    <div class="auth-success" id="signup-success">Login successful.</div>
                    <label for="fist-name" hidden>First Name</label>
                    <input type="text" placeholder="First Name" id="fist-name" name="fist-name" class="auth-input"
                        required>
                    <div class="error-message" id="fist-name-error"></div>
                    <label for="last-name" hidden>Last Name</label>
                    <input type="text" placeholder="Last Name" id="last-name" name="last-name"
                        class="auth-input repeat-input" required>
                    <div class="error-message" id="last-name-error"></div>

                    <div class="address-row">
                        <label for="street" hidden>Street</label>
                        <input type="text" placeholder="Street" id="street" name="street" class="auth-input" required>

                        <label for="house-number" hidden>House Number</label>
                        <input type="text" placeholder="No." id="house-number" name="house-number" class="auth-input"
                            required>
                    </div>

                    <div class="address-row">
                        <label for="postal-code" hidden>Postal Code</label>
                        <input type="number" placeholder="Postal Code" id="postal-code" name="postal-code"
                            class="auth-input" required>

                        <label for="city" hidden>City</label>
                        <input type="text" placeholder="City" id="city" name="city" class="auth-input" required>
                    </div>
                    <div class="error-message" id="address-error"></div>

                    <label for="country" hidden>Country</label>
                    <input type="text" placeholder="Country" id="country" name="country" class="auth-input" required>
                    <div class="error-message" id="country-error"></div>

                    <p class="line-number"><span id="page">2</span>/2</p>

                    <input id="submit-button" type="submit" class="auth-button first-button" value="Sign up">
                    <button class="auth-button second-button" type="button" id="back-to-one">Back to Page one</button>
                </div>
            </form>

        </div>
    </main>
    <div id="footer"></div>
    <script>
  document.addEventListener('DOMContentLoaded', () => {
    async function loadFragment(id, url, scriptUrl) {
      const res = await fetch(url);
      if (res.ok) {
        document.getElementById(id).innerHTML = await res.text();
        if (scriptUrl) {
          const script = document.createElement('script');
          script.src = scriptUrl;
          script.defer = true;
          document.body.appendChild(script);
        }
      }
    }

    loadFragment('header', '/header-footer/header.html', '/js/header.js');
    loadFragment('footer', '/header-footer/footer.html');
  });
</script>
</body>


</html>