<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/env.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Account</title>
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/verify.css" type="text/css">
    <script src="/js/auth_util.js" defer></script>
    <script src="/js/verify.js" defer></script>
</head>
<body>
    <div id="header"></div>
    <main>
        <div class="card-container auth-container" id="verify-contaier">
            <h1 class="auth-title">Verify Account</h1>
            <div class="auth-error" id="verify-error">Coudn't verify.</div>
            <div class="auth-success" id="verify-success">Verified successfully.</div>
            <button class="auth-button first-button" id="verify-button" type="button">Click to verify Account</button>
            
        </div>
    </main>
    <div id="footer"></div>
    <script>
  document.addEventListener('DOMContentLoaded', () => {
    async function loadFragment(id, url, scriptUrl) {
      const res = await fetch(url);
      if (res.ok) {
        document.getElementById(id).innerHTML = await res.text();
        if (scriptUrl) {
          const script = document.createElement('script');
          script.src = scriptUrl;
          script.defer = true;
          document.body.appendChild(script);
        }
      }
    }

    loadFragment('header', '/header-footer/header.html', '/js/header.js');
    loadFragment('footer', '/header-footer/footer.html');
  });
</script>
</body>


</html>