<!DOCTYPE html>
<html lang="en">
<head>
  <script src="/env.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="header"></div>

  WISHLIST PAGE

<div id="footer"></div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    async function loadFragment(id, url, scriptUrl) {
      const res = await fetch(url);
      if (res.ok) {
        document.getElementById(id).innerHTML = await res.text();
        if (scriptUrl) {
          const script = document.createElement('script');
          script.src = scriptUrl;
          script.defer = true;
          document.body.appendChild(script);
        }
      }
    }
    loadFragment('header', '/header-footer/header.html', '/js/header.js');
    loadFragment('footer', '/header-footer/footer.html');
  });
</script>
</body>
</html>