<!DOCTYPE html>
<html lang="en">

<head>
  <script src="/env.js"></script>
  <meta charset="UTF-8" />
  <title>Wishlists</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <script src="https://kit.fontawesome.com/your-fontawesome-kit.js" crossorigin="anonymous"></script>
  <script type="module" src="/js/wishlist.js" defer></script>
  <link rel="stylesheet" href="/css/wishlist.css" />
</head>

<div id="wishlist-modal" class="modal hidden">
  <div class="modal-content">
    <h2>Create Wishlist</h2>
    <form id="wishlist-form" novalidate>
      <label for="wishlist-name" hidden>Wishlist Name</label>
      <input type="text" id="wishlist-name" name="wishlistName" class="modal-input" placeholder="Wishlist Name"
        required>
      <div class="error-message" id="wishlist-name-error"></div>

      <div class="modal-buttons">
        <button type="submit" class="button do-button" id="create-btn">Create</button>
        <button type="button" class="button cancel-button" id="wishlist-cancel-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div id="edit-wishlist-modal" class="modal hidden">
  <div class="modal-content">
    <h2>Create Wishlist</h2>
    <form id="edit-wishlist-form" novalidate>
      <label for="new-wishlist-name" hidden>New Wishlist Name</label>
      <input type="text" id="new-wishlist-name" name="newWishlistName" class="modal-input"
        placeholder="New Wishlist Name" required>
      <div class="error-message" id="new-wishlist-name-error"></div>

      <div class="modal-buttons">
        <button type="submit" class="button do-button" id="change-btn">Change Name</button>
        <button type="button" class="button cancel-button" id="edit-cancel-btn">Cancel</button>
      </div>
    </form>
  </div>
</div>

<div id="delete-wishlist-modal" class="modal hidden">
  <div class="modal-content">
    <p id="wishlist-delete-text">Are you sure you want to delete the wishlist?</p>
    <div class="modal-buttons">
      <button type="button" class="button do-button" id="delete-btn">Delete</button>
      <button type="button" class="button cancel-button" id="delete-cancel-btn">Cancel</button>
    </div>
  </div>
</div>

<div id="access-modal" class="modal hidden">
  <div class="modal-content" id="access-modal-content">
    <h2>Edit Access Rights</h2>
    <form id="new-permission-form" novalidate>

      <div class="permission-input">
      <label for="new-permission-user" hidden>New User Permission</label>
      <input type="text" id="new-permission-user" name="new-permission-user" class="modal-input" placeholder="Username"
        required>
      <div class="error-message" id="new-permission-user-error"></div>

      <select id="create-permission-select" class="user-permission-select">
        <option value="1">Read and Write</option>
        <option value="2">Read Only</option>
      </select>
      </div>

      <div class="permission-btn-div">
          <button type="submit" class="button do-button" id="add-permission-btn">Add Permission</button>

      </div>
    </form>
    <div id="writer-list" class="user-list"></div>
    <div id="readonly-list" class="user-list"></div>
  </div>
</div>


<body>
  <div id="header"></div>

  <main>
    <div id="wishlists-container">
      <div id="wishlist-top" class="wishlist-top">
        <h1 id="wishlist-title">Wishlists</h1>
        <button id="add-wishlist-btn" class="add-wishlist-btn button">
          Create Wishlist
        </button>
        <p id="info" class="info" hidden>No history yet</p>
        <p id="server-error" class="server-error" hidden>Server Error</p>
      </div>

      <div class="wishlist-section">
        <button class="toggle-button" data-target="perm-0">My Wishlists</button>
        <div id="perm-0" class="wishlist-list hidden"></div>

        <button class="toggle-button" data-target="perm-1">Wishlists with read and write Permission</button>
        <div id="perm-1" class="wishlist-list hidden"></div>

        <button class="toggle-button" data-target="perm-2">Wishlist with read Permission</button>
        <div id="perm-2" class="wishlist-list hidden"></div>
      </div>


    </div>
  </main>

  <div id="footer"></div>

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      async function loadFragment(id, url, scriptUrl) {
        const res = await fetch(url);
        if (res.ok) {
          document.getElementById(id).innerHTML = await res.text();
          if (scriptUrl) {
            const script = document.createElement('script');
            script.src = scriptUrl;
            script.defer = true;
            document.body.appendChild(script);
          }
        }
      }
      loadFragment('header', '/header-footer/header.html', '/js/header.js');
      loadFragment('footer', '/header-footer/footer.html');
    });
  </script>
</body>

</html>